.container {
    width: 1280px;
    margin: 0 auto;
    padding: 24px 0 15px;
    font-family: "Montserrat", sans-serif;
} 

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.balls__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.balls__box div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 164px;
} 


.balls__box .ball__content {
    width: 40px;
    height: 40px;
    border: 1px solid #000; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.balls__box span {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    max-width: 160px;
    font-size: 14px;
}

.ball__backet, .ball__buy {
    position: relative;
}

.ball__backet::before {
    position: absolute;
    content: "";
    width: 70%;
    height: 1px;
    background: #000;
    top: 18px;
    left: 65%;
}

.ball__buy::before {
    position: absolute;
    content: "";
    width: 70%;
    height: 1px;
    top: 18px;
    left: 65%;
    background-color: rgb(175, 175, 175);
    background-image: repeating-linear-gradient(90deg, rgb(175, 175, 175), rgb(175, 175, 175) 2px, rgb(255, 255, 255) 3px, rgb(255, 255, 255) 8px);
}

.main {
    margin-top: 30px;
    position: relative;
}

.main__head {
    font-size: 30px;
}

#input__box {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

#input__box input {
    width: 300px;
}

#input__box p, .pizza__adress p {
    font-size: 17px;
    width: 170px;
    margin-right: 20px;
    font-weight: 700;
}

.pizza__adress {
    display: flex;
    align-items: center;
    padding: 20px 0 0;
}

.adress__box {
    min-width: 400px;
    border-radius: 15px;
    border: 1px solid rgb(226, 226, 233);
    background: #f3f3f7;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adress__button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: #ff4f00;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-left: 15px;
}

.menu {
    position: absolute;
    width: 450px;
    top: 15px;
    right: -60px;
}

.button__box {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.button__box button:first-child {
    padding: 15px;
}

.button__box button:first-child a{
    text-decoration: none;
    color: #5c6370;
    font-size: 20px;
}

.button__box button:last-child {
    font-size: 20px;
    padding: 15px;
}