.container {
    display: flex;
    align-items: center;
    height: 32px;
    width: 96px;
    background: #f3f3f7;
    justify-content: space-between;
    border-radius: 15px;
}

.container button {
    padding: 0 8px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}