.container {
    display: flex;
    width: 1200px;
    height: 700px;
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}

.imageurl {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.imageurl img {
    z-index: 999;
    transition: .5s;
}

.big, .middle {
    position: absolute;
    border: 3px dashed gray;
    border-radius: 50%;
    opacity: 0.5;
    z-index: 0;
}

.big {
    width: 90%;
    height: 90%;
}

.middle {
    width: 80%;
    height: 80%;
}