.container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.content {
    position: relative;
    padding: 32px;
    background: rgb(243, 243, 247);
    border-radius: 20px;
    min-width: 250px;
    max-width: 450px;
}

.container.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close__button {
    position: absolute;
    top: 0;
    right: -40px;
    color: #fff;
    
    cursor: pointer;
    /* font-family: "Montserrat", sans-serif;
    font-weight: 700px; */
    transition: .2s;
}

.close__button svg {
    width: 40px;
    height: 40px;
}

.close__button:hover {
    transform: scale(1.15);
}