.container {
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
}

.window {
    height: 100%;
    overflow: hidden;
}

.all__items__container {
    display: flex;
    height: 100%;

    transition: translete;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.arrow {
    display: block;
    opacity: 1;
    cursor: pointer;
    font-size: 40px;
    color: #FF4F00;
}

.unactive {
    /* display: none; */
    opacity: 0;
}