.container {
    width: 1245px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav a {
    font-size: 22px;
    text-decoration: none;
    color: #000;
}

.nav a:hover {
    color: #FF4F00;
}

.button__box button {
    font-size: 20px;
}

.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 30px;
    height: 70px;
    backdrop-filter: blur(20px);
}

.fixed .content {
    width: 1245px;
}

.fixed::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: rgba(6, 5, 50, 0.1) 0px 4px 30px;
    z-index: -1;
}