.container {
    display: flex;
    flex: 1 1 0%;
}

.content {
    display: flex;
    flex: 1 1 0%;
}

.label {
    text-align: center;
    display: inline-block;
    height: 40px;
    flex: 1 1 0%;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.switch__slider {
    position: absolute;
    background: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 2px;
    z-index: 0;
    border-radius: 20px;
    transition:  transform ease-in 200ms;
}

.content input, .unactive {
    display: none;
}