.info-enter-active {
    animation: in .3s forwards;
}

.info-exit-active {
    animation: in .3s reverse;
}

.question-enter-active {
    animation: inX .3s forwards;
}

@keyframes in {
    from {
        transform: translateY(50px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes inX {
    from {
        transform: translateX(20px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes inDown {
    from {
        transform: translateY(-150px);
    }

    to {
        transform: translateY(0);
    }
}

@media (max-width: 960px) {
    .question-enter-active {
        animation: inDown .3s forwards;
    }
}